.boxes_content{
    margin: 15px 0px;
}
.build{
    height: 20px;
    margin: 0px;
    background: grey;
    text-align: right;
    color: white;
}
.code_box{
    margin: 0px;
    border: 1px solid black;
    padding: 15px;
    overflow: auto;
    background: black;
    color: white;
}
.tag_color{
    color: deeppink;
}
.attribute_color{
    color: greenyellow;
}
.value_color{
    color: khaki;
}
.comment_color{
    color: grey;
}
.style_color{
    color: aqua;
}
.value_style_color{
    color: mediumpurple;
}
.parameter_color{
    color: orange;
}
.number_console_color{
    color: #68a95e;
}
.array_console_color{
    color: cornflowerblue;
}
.string_console_color{
    color: violet;
}