#links{
    margin: auto;
    border: solid;
    padding: 10px 0px;
    text-align: center;
}
#links th{
    padding: 5px 20px;
}

.solid_table{
    margin: auto;
    border: solid;
    text-align: center;
}
.solid_table td{
    padding: 5px;
}
