#links{
    width: 350px;
    margin: auto;
    border: solid;
    padding: 15px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
#links p{
    margin: 10px;
}
#links a{
    margin: 10px;
}

.solid_table{
    margin: auto;
    border: solid;
    text-align: center;
}
.solid_table td{
    padding: 5px;
}
