table{
    margin: auto;
}

#parrafos{
    width: fit-content;
    margin: auto;
    border: solid;
    padding: 15px;
}
#parrafoUnico{
    margin: auto;
    background-color: darkblue;
    font-size: 20px;
    color: tomato;
    text-align: center;
}
.parrafoMultiple{
    margin: auto;
    background-color: turquoise;
    text-align: center;
    font-size: 15px;
    color: purple;
}

#header_example{
    border: solid;
    background-color: skyblue;
}
#header_example figure{
    display: inline-block;
}
#header_example h3{
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: purple;
}
#header_example nav{
    border-top: solid;
}
#header_example ul{
    margin: 0;
    padding: 14px 16px;
    background-color: indianred;
    list-style-type: none;
}
#header_example ul li{
    display: inline-block;
}
#header_example ul li a{
    padding: 14px 16px;
    text-decoration: none; 
    color: white;
}

#test_page{
    border-left: solid;
    border-right: solid;
    padding: 20px;
}
#test_page_f{
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    padding: 20px;
    font-style: italic;
}

form{
    width: 200px;
    margin: auto;
    border: solid;
    padding: 15px 25px;
    display: grid;
    grid-template-columns: 35% 70%;
    gap: 0.5em;
    justify-content: center;
}
form #send{
    grid-column: 1/3;
}
